.nav-bar {
  display: flex;
  align-items: center;
  padding: 0 6em;
}

.nav-bar h1 {
  color: rgb(16, 16, 233);
  font-weight: 600;
}

.cat-but {
  margin-left: 80px;
  font-size: 25px;
}

nav ul {
  list-style: none;
}

.link {
  text-decoration: none;
  padding: 0 1em;
}

.booksContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.booksContainer ul {
  list-style: none;
  padding-left: 50px;
}

.booksContainer span {
  padding: 0 30px;
  font-weight: bold;
}

form {
  padding-left: 40px;
}

input[type=text], input[type=submit],input[type=button] {
  min-height:20px;
  font-family:'poppins', sans-serif;
  padding:5px 15px;
  border-radius:5px;
  font-size:16px;
}
